{{> head }}

<div class="jumbotron">
    <h1>Hapi To Do Demo</h1>
    <br>
    <p class="lead">Hapi Boilerplate in a To Do Demo that works with and without browser javascript</p>
    <br>
    <p><a class="btn btn-lg btn-success" href="/todo/list" role="button">Proceed</a></p>
</div>

{{> foot }}
