{{> head }}

<div class="header clearfix">
    <a class="btn btn-success pull-right" href="/todo" role="button">New To Do</a>
    <h4 class="text-muted">Hapi To Do Demo</h4>
</div>

<form id="todoItem">
    <div class="input-group">
        <input type="text" class="form-control" name="content" placeholder="What to do...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Save</button>
      </span>
    </div>

    <input type="hidden" name="crumb" value="{{ crumb }}">
</form>

<table class="table table-responsive">
    <tbody>
    {{# list }}
        <tr>
            <td class="todo-value">{{ content }}</td>
            <td>
                <button data-id="{{ id }}" data-done="{{ done }}" class="btn btn-link toggle-todo">
                    <span class="glyphicon glyphicon-ok done-{{ done }}"></span>
                </button>
            </td>
            <td>
                <a class="btn btn-link" href="/todo/{{ id }}" role="button">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </td>
            <td>
                <button data-id="{{ id }}" class="btn btn-link delete-todo">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    {{/ list }}
    </tbody>
</table>

{{> foot }}
